[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
psycopg2 = "*"
django-cors-headers = "*"
whitenoise = "*"
python-dotenv = "*"
django-extensions = "*"
django-filter = "*"
gunicorn = "*"
markdown = "*"
pycodestyle = "*"
python-decouple = "*"
python-dateutil = "*"
tomli = "*"

[dev-packages]

[requires]
python_version = "3.11"
